<div class="modal-header">
    <h3 class="modal-title">Share File</h3>
  </div>
  <div class="modal-body">
    <h4>Shared With:</h4>
      <table>
        <body>
            <tr ng-repeat="user in users">
                <td>{{user.email}}</td>
                <td><button ng-click="deleteFromOthers(user)"><i class="fa-solid fa-xmark"></i></button></td>
            </tr>
        </body>
      </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>