.login {
    position: absolute;
    top: 25%;
    left: 32%;
    margin-top: -50px;
    margin-left: -50px;
    width: 750px;
    height: 500px;
};

.deleteButton {
    position: absolute;
    left: 100px;
    top: 150px;
  }